:root {
  --primary: #8c54ff;
  --secondary: #61fa4f;
  --tertiary: #b12704;
}

.App {
  text-align: center;
  background-image: url("./assets/images/blue-circular-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

.thumbnail {
  height: 400px;
  border-radius: 20px;
  object-fit: cover;
}
#social {
  display: inline-flex;
  flex-direction: row;
}

i {
  font-size: 50px;
  margin: 0 10px 0 10px
}

.navtext {
  text-shadow: 0 0 2px black;
}
.navtext:active {
  color: var(--secondary);
}

h1 {
  color: #fafafa;
  text-shadow: 0 0 8px black;
}

h2 {
  font-size: 2.25rem;
  color: #fafafa;
  text-shadow: 0 0 8px black;
  
}
h4 a {
  text-decoration: none;
  font-weight: bold
}
#profileImg {
  box-shadow: 0 0 10px;
}
a {
  text-decoration: none;
}

#headline {
  text-decoration: none;
}
.blurb {
  color: black;
  text-align: left;
  text-indent: 50px;
}

.formLabel {
  text-shadow: 0 0 8px black;
  text-align: left;
  font-size: larger;
  margin: 10px 0
}